

.col {
	width: 320px;
	float: right;
	margin-right:32px;
	margin-bottom: 16px;
}

h2 {
	margin: 10px 0;
	color: #000;
	font-size: 18px;
	text-shadow: 1px 1px 2px #fff;
}
h3 {
	margin: 0;
	background-color: rgb(128,136,175);
	background-image: linear-gradient(bottom, rgb(128,136,175) 14%, rgb(158,166,205) 57%);
	background-image: -o-linear-gradient(bottom, rgb(128,136,175) 14%, rgb(158,166,205) 57%);
	background-image: -moz-linear-gradient(bottom, rgb(128,136,175) 14%, rgb(158,166,205) 57%);
	background-image: -webkit-linear-gradient(bottom, rgb(128,136,175) 14%, rgb(158,166,205) 57%);
	background-image: -ms-linear-gradient(bottom, rgb(128,136,175) 14%, rgb(158,166,205) 57%);
}
h3 a {
	background: url("../images/sprite.png") 15px 13px no-repeat;
	display: block;
	padding: 10px;
	padding-left: 32px;
	margin: 0;
	color: #fff;
	text-decoration: none;
	font-weight: normal;
	border-bottom: 1px solid rgba(28,136,175, 0.5);
	text-shadow: 1px 1px 1px rgb(28,136,175);
}
h3:hover {
	background: rgb(128,136,175);
}
h3.open {
	background: rgb(158,166,205);
}
h3.open a {
	background-position: 13px -25px;
}
h3 + div {
	padding: 10px;
}
h2 + div, .example {
	background: #fff;
	overflow: hidden;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-bottom: 20px;
}
h3+div {
	display: none;
}
